# Backend
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000

# Postgres
POSTGRES_USER=rag
POSTGRES_PASSWORD=rag
POSTGRES_DB=rag
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Ollama (используется позже на этапе LLM)
OLLAMA_HOST=http://ollama:11434
OLLAMA_MODEL=llama3.1:8b
